<h1>Recipe Reader</h1>

<form action="<%= recipes_url %>" method="post">
	<input
	    type="hidden"
	    name="authenticity_token"
	    value="<%= form_authenticity_token %>">

	<label for="recipe">Recipe URL: </label>
	<input type="text" name="recipe" id="recipe">

	<input type="submit" value="Submit" >
</form>